@tailwind base;
@tailwind components;
@tailwind utilities;

.font-petrona {
  font-family: var(--font-petrona), serif;
}

.font-archivo {
  font-family: var(--font-archivo), sans-serif;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .animation-delay-200 {
    animation-delay: 0.2s;
  }
  .animation-delay-400 {
    animation-delay: 0.4s;
  }
}
